<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Diligent\CouponList\Api\GuestCouponListInterface" type="Diligent\CouponList\Model\GuestCart\GuestCouponList" />
	<preference for="Diligent\CouponList\Api\CouponListInterface" type="Diligent\CouponList\Model\CouponList" />
</config>
